body {
    padding-top: 50px;
}
.padding-10 {
    padding: 10px 10px 10px 10px;
}
.margin-t20 {
  margin-top: 20px;
}
.margin-l20 {
    margin-left: 20px;
}
.margin-l80 {
    margin-left: 80px;
}
.margin-b40 {
    margin-bottom: 40px;
}
.table-as-list-group-item {
    margin-top: 30px;
}
.section {
    margin-top: 60px;
    font-weight: bold;
}
.section40 {
  margin-top: 40px;
  font-weight: bold;
}
.table-nonfluid {
    width: auto !important;
}
.pfa-color {
   color: skyblue;
}

/* links */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: skyblue;;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: skyblue;;
  background-color: transparent;
  text-decoration: none;
}

/* lightbox */
.item
{
  padding-bottom:30px
}